h1::first-letter{
    font-size: 48px;
    color:red;
}

/* a:link{
    color: blue;
}
a:visited{
    color:green;
}
a:hover{
    color:red;
    background-color: aqua;
    font-size: 24px;
}
a:focus{
    color:black;
}
a:active{

    color: darkblue;
}
 */

 h1{
    border: 5px solid orange;
    text-align: center;
 }
 div{
    border: 5px solid black;

 }
 p{
    border: 5px solid red;
    text-align: justify;
    width:200px;
    height: 400px;
    padding: 3em 2em;
    overflow: scroll;
    margin: 40px auto;
     /* box-shadow: -10px -10px 50px red  
    ,10px 10px 50px green; */
    box-shadow: inset -1px -1px 50px red
    ,inset 1px 1px 50px green;



 }

 h1:hover{
    box-shadow:  -1px -1px 50px silver
    ,1px 1px 50px silver ;
 }