body{
    background-color: aqua;
}
#p1{
    background-color: blue;
    margin-left: 50px;
    height: 340px;
    text-align: justify;

}
#p2{
    background-color: red;
    margin-left: 50px;
    height: 340px;
    text-align: justify;



}
#p3{
    background-color: pink;
    margin-left: 50px;
    height: 340px;
    text-align: justify;



}

@media(min-width:700px){
    
    .container p{
        width: 20%;
        float:left;
        padding: 10px;
        margin: 10px;
    }
}
