/* body{
    background-color: teal;
    
}
.para{
    background-color: red;
}
.container{
    display: grid;
    /* grid-template-columns: 2fr 1fr 1fr; */
    /* column-gap: 10px;*/
    /* row-gap: 10px;  */
    /* gap: 10px;
    text-align: center;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column; */
    
    
    
.layout div{
    border: 1px solid black;
    background-color: burlywood;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:10vh 80vh 10vh ;
    grid-template-areas: " h h h h"
                         "sb1 m m sb2"
                          "f f f f";

}
.header{
    grid-area: h;
}
.footer{
    grid-area: f;
}
.sb_1{
    grid-area: sb1;
}
.sb_2{
    grid-area: sb2;
}
.main{
    grid-area: m;
}

