table{
    border-collapse: collapse;
    margin: auto;
    margin-top: 100px;
}
.top{
    background-color: orange; 
    width: 500px;
    height: 100px;
  

}
.middle{
    background-color:white; 
    width: 500px;
    height: 100px;
    

}
.bottom{
    background-color: green; 
    width: 500px;
    height: 100px;
    

}
.img{
    height:110px;
    width: 100px;
    margin-left: 190px;
}

p{
    text-align: center;
    font-size: 30px;
    font-style: italic;
}