table{
    width: 400px;
    height: 200px;
    margin: auto;
    border-collapse: collapse;
    /* border-spacing: 20px; */

}
tr,td,th{
    border: 1px solid black;
    /* padding: 20px; */ 
} 
.amount{
    text-align: right;
}
thead{
    background-color: cadetblue;
}
tfoot{
    background-color: rgb(201, 122, 25);
}
/* tbody{
    background-color: aqua;
} */
#ios{
    background-color: blue;
}
#abc{
    background-color: brown;
}
tr:nth-child(even)
{
    background-color: bisque;
}