*{
 color: black;
}
p{
    color: rgb(51, 255, 0)a(255, 0, 0, 0.808);
    background-color:aqua;
    text-align: justify;
}
#para1{
    text-align: justify;
    color: green;
}

.temp{
    text-align: justify;
    color:darkblue;
}

