p{
    color: rgb(4, 245, 4);
    font-size: 200%;
    font-family:  'cursive' ,'Glass Antiqua';
    /*font-weight: bold;*/
    text-transform: capitalize;
    /*text-decoration: underline;
    line-height: 100px;
    letter-spacing: 10px;
    word-spacing: 20px;*/
    text-align: justify;
    text-indent: 100px;

    /* text-shadow: 2px 2px 2px red; */
    
       
}
h1{
    text-align: center;
}

p::first-letter{
    font-size: 48px;
}

h1::first-letter{
    font-size: 48px;
    color:red;
}
