
table{
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 80px;
    border-collapse: collapse;
    list-style: none;
    font-size: 40px;
    text-align: center;
    box-shadow: 20px 20px  20px black, -20px -20px 20px black;
    

}

tr,td{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    
}
td:nth-child(odd) 
{
    background-color: white;
   

}
tr:nth-child(even) td:nth-child(odd) 
{
    background-color: brown;
   

}

tr:nth-child(odd) td:nth-child(even) 
{
    background-color: brown;
    
}
