.bluebox{
    width: 300px;
    height: 300px;
    background-color: skyblue;
}
.redbox{
    width: 1020px;
    height: 30px;
    background-color: rgb(194, 42, 42);
    position: sticky;
    top: 0px;
    bottom: opx;
    
}
p{
    position:relative;
    top: 90px;
}
