h1{
    font-family: 'Glass Antiqua', cursive;
    font-family: 'Righteous', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #0866FF;
    text-align: center;
    font-size: 34px;
    margin-top: 40px;
}
form{
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    margin: auto;
    padding: 0 0 14px 0;
    width: 396px
}
#label
{
    font-size: 13px;
    margin-top: 0px;
}
#signup
{
    font-size: 10px;
}
#login{
    font-family: inherit;
    color: white;
    background-color:#0866FF;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 323px;
    margin-top:20px;

}
#email{
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 280px;
    margin-top:20px;

}
#pwd{
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 280px;
    margin-top:20px;
}
#signup
{
    text-align: center;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}

a:visited
{
    color: #1877f2;

}
a:link{
    color: #1877f2;

}
