table{
    border: 1px solid black;
    height: 180px;
    width: 500px;
    border-collapse: collapse;
    
}
td{
    /* border: 1px solid black; */

    height: 10px;
    width: 150px;
}
tr:nth-child(odd)
{
    background-color: red;
}
#blue
{
    background-color: rgb(34, 34, 157);
}
div{
    color: white;
    list-style: none;
    font-size: 22px;
    letter-spacing: 20px;
    width: 1px;
    
}